<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

    <% @recipes.each do |recipe| %>
      
        <h2><%= recipe.title %></h2>
        <p><%= recipe.method %></p>
        <ul>
          
        
        </ul>
              
    <% end %>


<br>

<%= link_to 'New Recipe', new_recipe_path %>
